.register-form {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;

}
.login-form {
    width: 300px;
    margin: 0 auto;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  